@import "tailwindcss";

/* Custom Scrollbar */
.custom-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

body button {
  cursor: pointer !important;
}